
:root
{
    /* Global Variables */

    /* Color Scheme 1*/
    --background_color1a: rgb(14, 72, 196);
    --background_color1b: rgb(138, 43, 226);
    --text_color1a: beige;
    --text_color1b: rgb(205, 235, 255);

    /* Custom */

    /* 22021699 Header Icon */
    --headerIconCol: gainsboro;
    --headerIconColHover: rgb(205, 235, 255);

    /*  Color Scheme 2*/
    --body_background_color: beige;
    --body_test_color: black;
    /* --background_color2a: rgb(255, 255, 255); */
    --background_color2a: whitesmoke;
    --background_color2b: rgb(245, 220, 245);
    --text_color1a: rgb(32, 0, 64);
    --text_color1b: rgb(32, 0, 96);

    
    /* Navigation Bars */
    /* Header Bar */
    --headerNavBarBGColor: black;
    --headerNavBarBorderColor: darkgray;
    --headerNavBarAnchorCol: gainsboro;
    --headerNavBarAnchorColHover: aliceblue;
    --headerNavBarAnchorBGColHover: var(--text_color1b);

    
    /* Footer Bar */
    --footerNavBarBGColor: rgb(18, 18, 18);
    --footerNavBarBorderColor: gray;
    --footerNavBarAnchorCol: rgb(218, 222, 226);
    --footerNavBarAnchorColHover: white;
    --footerNavBarAnchorBGColHover: none;

    /*  The Article or Main*/
    --articleBGColor:var(--background_color2a);

    /* Sections of The Article */
    --sectionBGColor1: var(--background_color2a);
    --sectionBGColor2: var(--background_color2b);
    


}
*{
    scrollbar-width: none;
}

body
{
    background-color: var(--body_test_color);
    /* x-large == 24px */
    /* font-size: large; */
    margin: 0px;
    padding:0px;
}

*::-webkit-scrollbar
{
    display: none;
    width: 0;
}

a
{
    color: grey;
    text-decoration: none;
}

a:hover
{
    color: white;
    text-shadow: 2px 2px 8px black;
}


/* CONTAINER OBJECTS */

*
article
{
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* max-width: 100%; */
    height: 75;
    min-height: 75svh;

    position:relative;
    /* To Make Space for the Header Nav Bar */
    top: 20svh;
    margin: 0px;
    padding: min(15%, 35px) min(5%, 60%) min(15%, 75px) min(5%, 60%);
    align-items: center;
    
    background-color: var(--articleBGColor);

    /* border: 3px red solid; */

}


section
{
    display: block;
    width: clamp(300px, 50%, 960px);
    height: 140%;
    /* border: 1px var(--background_color2a) solid; */
    /* border: 2px blue solid; */
    background-color: var(--sectionBGColor1);
    text-align: left;
    padding: 5%;
    margin: 20px 5px 30px 5px;
    font-size: x-large;
}

section#section1 p
{
    display: inline-block;
    
}

section h1#icon
{
    display: inline;
    /* position: relative; */
    /* float: right; */
    /* top: 15px; */
    /* left: 140%; */
    /* width: 100px; */
    font-style: Sans-serif;
    /* font-size: clamp(1.5em, 2.5vw, 4em); */
    font-size: 4em;
    text-align: center;
    /* border: 2px red solid; */
}

section h2#first_heading
{
    display:inline;

    font: bold Verbeda;
    color:rgb(32, 24, 32);
    font-size: 1.7em;
    text-decoration: none;


    /* border: 2px purple solid; */
}

section h1, section h2
{
    font: bold Georgia;
    color:rgb(32, 24, 32);
    font-size: 1.5em;

    /* border: 2px palevioletred solid; */
}


section p
{
    font: bold Arial;
    font-size: 1em;
    color: black;
}

nav
{
    display: block;
    width: 100%;
}


nav#headerbar
{
    position: fixed;
    width: 100%;
    height: 20svh;
    /* border: 2px solid red; */
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* 
    align-content: center;
    justify-content: center; */
    
    /* text-align: center; */
    background-color: var(--headerNavBarBGColor);
    color: gainsboro;
    
    z-index: 100;

    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 10%;

    padding: min(5%, 20px) 0px min(10%, 30px) 0px;
}

nav#headerbar div#navlinks
{
    display: grid;
    width: 100%;
    grid-template-columns: 0.2fr 0.2fr 0.4fr 0.2fr;
    gap: 5%;
    font-size:min(1.0rem, 120%);
    padding: 5% 0px 0px 0px;
    margin: 0px 0.8% 0px 0px;
}

nav#headerbar a
{
    display: inline-block;
    width: 100%;
    /* border: 2px solid purple; */
    /* height: auto; */
    
    text-decoration: none;
    color: var(--headerNavBarAnchorCol);
    text-align: center;
    /* justify-self: center; */
    vertical-align:middle;
    justify-self: center;
    
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

nav#headerbar div#navlinks a
{
    padding: 0px 0px 0px 0px;
    text-align: center;
    justify-self: center;
    vertical-align:middle;
    /* border-right: 1px solid silver; */
    margin: 0px 15% 0px 0px;
}

#headerbar a:hover
{
    /* background-color: var(--text_color1b); */
    /* border-radius: 15px; */
    color: var(--headerNavBarAnchorColHover);
    text-decoration: overline;
}

#headerbar div#website_icon
{
    display: block;
    /* padding: auto; */
    padding: 0px;
    margin:0px;
    width: 100%;
    /* border: 3px solid red; */
    padding: 5% 0px 0px 0px;
}

nav#headerbar #website_icon a
{
    display: block;
    width: 100%;
    /* max-width: calc(35%);
    height: calc(auto - 10px); */
    
    font: Sans-Serif;
    font-size: 1.4rem;
    font-style:oblique;
    text-transform: uppercase;
    color: var(--headerIconCol);
}

nav#headerbar div#website_icon a:hover
{
    /* To ensure the background color on hover does not change with rest of links */
    background-color: var(--headerNavBarBGColor);
    text-decoration: solid;
    color: var(--headerIconColHover);
}


nav#footerbar
{
    width: calc(100%);
    height: calc(50% - 30px);
    display: block;

    position: relative;
    left: 0px;
    top: 75px;
    /* bottom: 0px;*/

    padding: 15px 0px 15px 0px;
    /* margin: 15px 0px 0px 0px; */

    text-align: center;
    /* justify-content: center; */
    background-color: var(--footerNavBarBGColor);
    color: white;
    
    /* border-width: 2px;
    border-style: solid;
    border-color: var(--footerNavBarBorderColor); */
    z-index: 90;
}

#footerbar a
{
    padding-left: 15px;
    padding-right: 15px;
    color: var(--footerNavBarAnchorCol);
    text-decoration: none;
}

#footerbar a:hover
{
    color: var(--footerNavBarAnchorColHover);
    text-decoration: overline;
}
