
:root
{
    /* Global Variables */
    --backgroundColor: rgb(23, 23, 23);
    --mainHeaderCol: azure;
    --mainHeaderBGCol: rgb(27, 27, 27);

}



body
{
    background-color: var(--backgroundColor);
}

h1#main_header
{
    display: block;
    width: 100%;
    height: 15%;
    /* max-height: 80%; */

    position: relative;
    top:0;
    left: 0px;
    margin: 0px;
    text-align: center;
    font: bold Georgia;
    font-size: 5em;
    text-transform: none;
    text-decoration: solid;

    color: var(--mainHeaderCol);
    background-color: var(--mainHeaderBGCol);
    /* border: 2px blue solid; */
    z-index: 95;

}


article
{
    position: relative;
    top: 0px;
    margin: 5% 2%;
    width: 100%;
    background-color: var(--backgroundColor);
    /* justify-content: center;
    justify-items: center;
    align-content: center; */
}

article:nth-child(n)
{
    width: 80%;
}

article div.labels
{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    background-color: var(--backgroundColor);
}
article div.labels label
{
    padding: 2%;
    text-align: center;
}

article .graph canvas
{
    width: 100%;
}

article div.graph
{
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.6fr;
    grid-template-columns: none;
    width: 100%;
    
}

article button
{
    width: 80%;
    height: auto;
}

nav#footerbar
{
    /* position: relative; */
    top: 0px;
    margin: 0px;
}